DATABASE_URL="postgresql://neondb_owner:<password>@ep-xxx-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
GROQ_API_KEY="gsk_xxxxxxxxxxxx"
TEMPORAL_HOST="runtime.evm-vdcy.cheshire.neon.aws.temporal.io:7233"
TEMPORAL_NAMESPACE="flowforge"
TEMPORAL_TLS_CERT_PATH="./certs/temporal-cloud.pem"
TEMPORAL_TLS_KEY_PATH="./certs/temporal-cloud.key"
JWT_SECRET="your-32-char-random-secret-here"
PORT=3001
CORS_ORIGIN="http://localhost:3000"